.dynamic-blcok_panel-body-wrapper {
    .db_tab-panel {
        .db_tabl-panel-item {
            width: 50%;
        }
        .active-tab {
            color: #9ae9ec;
            border-bottom: 2px solid #9ae9ec;
        }
    }
}
